*Rcheck*
inst/extras
inst/extras/..Rcheck
*~
*/~
vignettes/*_tutorial.md
vignettes/*~
.Rproj.user
eurostat.Rproj
vignettes/NUTS_2010.xls
vignettes/NUTS_2010_60M_SH*
vignettes/zipfile
NUTS_2010.xls
zipfile
packrat/lib*/
.Rhistory
data/
