_pkgdown.yml
inst/doc
docs/docsearch.js
docs/articles/2015-RJournal/response.txt
*Rcheck*
inst/extras/*
application/*
!inst/extras/cheatsheet/
inst/extras/..Rcheck
*~
*/~
vignettes/*_tutorial.md
vignettes/*_tutorial.pdf
vignettes/*_tutorial.html
vignettes/*~
vignettes/tmp*
vignettes/fig/*.pdf
.Rproj.user
eurostat.Rproj
vignettes/NUTS_2010.xls
vignettes/NUTS_2010_60M_SH*
vignettes/zipfile
NUTS_2010.xls
zipfile
packrat/lib*/
.Rhistory

/revdep/.cache.rds
doc
Meta
