language: r
sudo: required
cache: packages

warnings_are_errors: false

notifications:
  email:
    - leo.lahti@iki.fi

r_packages:
  - Cairo
  
r_github_packages:
  - jimhester/covr


env:
  global:
  - WARNINGS_ARE_ERRORS=1
  - r_build_args: "--no-resave-data"
  - r_check_args: "--as-cran"    
  - GITHUB_REPO: ropengov/eurostat

before_install:
- pip install --user codecov

after_success:
  - Rscript -e 'covr::codecov()'

