/* Beautify: https://www.freeformatter.com/css-beautifier.html */
/* Minify: https://www.freeformatter.com/css-minifier.html */

/* From http://ropengov.org/css/style.css */

.blog-header,
.blog-post,
.blog-pagination {
	margin-bottom: 2rem;
}


/* Make sure the image size is reasonable. */

.blog-post img {
	max-width: 100%;
}

img[src$='#center'] {
	display: block;
	margin: 0.7rem auto;
	/* you can replace the vertical '0.7rem' by whatever floats your boat, but keep the horizontal 'auto' for this to work */
	/* whatever else styles you fancy here */
}

img[src$='#floatleft'] {
	float: left;
	margin: 0.7rem;
	/* this margin is totally up to you */
	/* whatever else styles you fancy here */
}

img[src$='#floatright'] {
	float: right;
	margin: 0.7rem;
	/* this margin is totally up to you */
	/* whatever else styles you fancy here */
}


/*********************************/
/*********************************/
/******dieghernan.github.io ******/
/*********************************/
/*********************************/


/* Navbar tweaks */

.navbar-dark.bg-dark {
	background-color: #343a40 !important;
}

.navbar-brand {
	font-family: 'B612 Mono', monospace;
	letter-spacing: 2px;
	font-size: 1.5rem;
	color: #fff;
}

.navbar-brand:hover,
.navbar-brand:focus {
	color: #fff;
}

.navbar .text-muted {
	color: #6c757d !important;
}

.navbar .nav-link {
	color: rgba(255, 255, 255, .5);
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
	color: rgba(255, 255, 255, .75);
	background: #343a40 !important;
}

/* Position hack to get full width footer even though pkgdown puts it inside a container * See: https://css-tricks.com/full-width-containers-limited-width-parents/ */

footer {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	background-color: #343a40 !important;
	color: white;
	margin-bottom: 0;
}

.rog-logo {
	margin-bottom: 5px;
}


/* More footers */

footer a {
	color: #dee2e6;
}

footer a:hover,
footer a:focus {
	color: #ff6600;
}

footer .pkgdown-footer-right {
	margin-right: auto;
	padding-right: 1.25rem;
}

footer .pkgdown-footer-left {
	margin-left: auto;
	padding-left: 1.25rem;
}

@media screen and (max-width: 576px) {

	footer .pkgdown-footer-right,
	footer .pkgdown-footer-left {
		margin-right: .75rem;
		margin-left: .75rem;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width:768px) and (min-width:576px) {

	footer .pkgdown-footer-right,
	footer .pkgdown-footer-left {
		max-width: 270px;
	}
}

@media (max-width: 992px) and (min-width:768px) {

	footer .pkgdown-footer-right,
	footer .pkgdown-footer-left {
		max-width: 360px;
	}
}

@media (max-width: 1200px) and (min-width:992px) {

	footer .pkgdown-footer-right,
	footer .pkgdown-footer-left {
		max-width: 480px;
	}
}

@media (max-width: 1400px) and (min-width:1200px) {

	footer .pkgdown-footer-right,
	footer .pkgdown-footer-left {
		max-width: 570px;
	}
}

@media (min-width:1400px) {

	footer .pkgdown-footer-right,
	footer .pkgdown-footer-left {
		max-width: 660px;
	}
}


/* Clipboard button */

.btn-copy-ex {
	color: white;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-copy-ex:hover,
.btn-copy-ex:focus {
	color: white;
	background-color: #ff6600;
	border-color: #ff6600;
}

/* ---Caption figure--- */
.caption,
.figure {
	color: #6c757d;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
	font-size: 85%;
}

.pkg {
	font-weight: bold;
}


/* --- Inherited args --- */

.template-reference-topic dt code {
	font-weight: 700;
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	color: var(--bs-body-color);
	text-align: var(--bs-body-text-align);
	background-color: var(--bs-body-bg);
	padding: 0;
	border-radius: 0;
}